{% extends 'base.html' %}
{% load static %}
{% block title %}设备管理 - 设备详情{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'devices/css/device-add.css' %}">
    <link rel="stylesheet" href="{% static 'devices/css/device-detail.css' %}">
{% endblock %}
{% block content %}
    {% if device %}
        <div class="content">
            <p class="content-note1">修改设备<span class="content-note2"> (标注为*为必填项)</span></p>
            <div style="clear:both"></div>
            <form class="form-table" action="{% url 'devices:device_modify' %}" method="post">
                <input type="hidden" id="device_id" name="device_id" value="{{ device.id }}"/>
                <div class="form-list">
                    <span>*资产类型</span>
                    <select {% if device_form.errors.device_type %}class="input-error"{% endif %} name="device_type">
                        {% for device_type in device_types %}
                            <option value="{{ device_type.id }}" {% ifequal device.device_type.id device_type.id %}selected{% endifequal %}>{{ device_type.device_type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-list">
                    <span>资产编号</span><input {% if device_form.errors.device_id %}class="input-error"{% endif %} type="text" name="device_id" value="{{ device.device_id }}" placeholder="不超过100个字符"/>
                </div>
                <div class="form-list">
                    <span>mac地址</span><input {% if device_form.errors.device_mac %}class="input-error"{% endif %} type="text" name="device_mac" value="{{ device.device_mac }}" placeholder="不超过50个字符"/>
                </div>
                <div class="form-list">
                    <span>是否root</span><input {% if device_form.errors.device_root %}class="input-error"{% endif %} type="text" name="device_root" value="{{ device.device_root }}" placeholder="不超过50个字符"/>
                </div>
                <div class="form-list">
                    <span>设备状态</span><input {% if device_form.errors.device_status %}class="input-error"{% endif %} type="text" name="device_status" value="{{ device.device_status }}" placeholder="不超过50个字符"/>
                </div>
                <div class="form-list">
                    <span>*使用人</span>
                    <select name="device_user">
                        <option value="0" {% if not device.device_user.id %}selected{% endif %}>空</option>
                        {% for user in users %}
                            <option value="{{ user.id }}" {% ifequal device.device_user.id user.id %}selected{% endifequal %}>{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-list">
                    <span class="comment">备注</span><textarea class="textarea {% if device_form.errors.comment %}input-error{% endif %}" name="comment" placeholder="不超过300个字符">{{ device.comment }}</textarea>
                </div>
                {% if msg %}
                    <div class="error">{{ msg }}</div>
                {% endif %}
                <div style="clear:both"></div>
                <div class="form-list">
                    <input class="form-button" type="submit" value="保存"/>
                </div>
                <div class="form-list">
                     <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
                </div>
                <div class="form-list">
                     <button class="form-button form-button-del" type="button" onclick="btn_delete()">删除</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    {% endif %}
	{#
    <div class="content">
        <a name="hist"></a>
        <p>资产历史变动记录</p>
        <table class="table-list">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>资产类型</th>
                    <th>IP地址</th>
                    <th>功能描述</th>
                    <th>设备品牌</th>
                    <th>设备型号</th>
                    <th>设备序号</th>
                    <th>设备配置</th>
                    <th>管理人员</th>
                    <th>所在网络</th>
                    <th>保修期</th>
                    <th>备注</th>
                    <th>修改时间</th>
                </tr>
            </thead>
            <tbody>
                {% for device in p_device_hiss.object_list %}
                    <tr>
                        <td>{{ forloop.counter|add:start }}</td>
                        <td>{{ device.device_type }}</td>
                        <td>{{ device.ipaddress }}</td>
                        <td>{{ device.description }}</td>
                        <td>{{ device.brand }}</td>
                        <td>{{ device.zcmodel }}</td>
                        <td>{{ device.zcnumber }}</td>
                        <td>{{ device.zcpz }}</td>
                        <td>{{ device.owner.username }}</td>
                        <td>{{ device.undernet }}</td>
                        <td>{{ device.guartime }}</td>
                        <td><div class="more-text">{{ device.comment }}</div></td>
                        <td>{{ device.modify_time|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <ul class="pagination">
                {% if p_device_hiss.has_previous %}
                    <li><a href="?{{ p_device_hiss.previous_page_number.querystring }}#hist">&laquo;</a></li>
                {% endif %}
                {% for page in p_device_hiss.pages %}
                    {% if page %}
                        {% ifequal page p_device_hiss.number %}
                            <li class="active"><a href="?{{ page.querystring }}#hist">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}#hist">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_device_hiss.has_next %}
                    <li><a href="?{{ p_device_hiss.next_page_number.querystring }}#hist">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
	#}
{% endblock %}
{% block custome_js %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'devices:device_list' %}";
        }

        function btn_delete() {
            var device_id = document.getElementById("device_id").value;
            var url = "{% url 'devices:device_delete' 0 %}";
            var conf = confirm("确定删掉该条数据？");
            if (conf){
                location.href = url.replace('0', device_id);
            }
        }
        var sidebar = document.getElementById("sidebar");
        var content_height = document.body.scrollHeight>window.innerHeight?document.body.scrollHeight-48:window.innerHeight-48;
        sidebar.style.height = content_height+'px';
    </script>
{% endblock %}