{% extends 'base.html' %}
{% load static %}
{% block title %}设备管理 - 设备列表{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'devices/css/tooltip.css' %}">

{% endblock %}
{% block content %}
    <div class="content">
        <p>与我相关的设备：共计{{ num }}条记录</p>
        <br/><br/>

        <table class="table-list">
            <thead>
                <tr>
                    <th><div class="tooltip">序号  <span class="tooltiptext">Tooltip text</span></div></th>
                    <th>设备编号</th>
                    <th>设备类型</th>
                    <th>设备状态</th>
                    <th>使用人</th>
                    <th>预计结束使用时间</th>
                    <th>备注信息</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for device in p_devices.object_list %}
                    <tr>
                        <td>{{ forloop.counter|add:start }}</td>
{#                        <td>{{ device.id }}</td>#}


                            <td>{{ device.device_id }}</td>

                        <td>{{ device.device_type }}</td>
                        <td>{{ device.get_device_status_display }}</td>
                        <td>{{ device.device_user}}</td>

                        <td>{{ device.expired_date | date:"Y-m-d" |default_if_none:""}}</td>
                        <td><div class="more-text">{{ device.comment }}</div></td>
                        <td>{% if device.next_user %}
                                {% ifequal device.next_user current_user.username %}
                                    {{ device.device_user }}转给你<a href="{% url 'devices:select_time' device.id %}"><button>确认接收</button></a>
                                {% else %}
                                等待{{ device.next_user }}确认
                                {% endifequal %}
                            {% else %}
                            <a href="{% url 'devices:select_name' device.id %}"><button>转给他人</button></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <ul class="pagination">
                {% if p_devices.has_previous %}
                    <li><a href="?{{ p_devices.previous_page_number.querystring }}">&laquo;</a></li>
                {% endif %}
                {% for page in p_devices.pages %}
                    {% if page %}
                        {% ifequal page p_devices.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_devices.has_next %}
                    <li><a href="?{{ p_devices.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block custome_js %}

{% endblock %}
