{% extends 'base.html' %}
{% load static %}
{% block title %}添加设备{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'devices/css/device-add.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <p class="content-note1">添加设备<span class="content-note2"> (标注为*为必填项)</span></p>
        <div style="clear:both"></div>
        <form class="form-table" action="{% url 'devices:device_add' %}" method="post">
            <div class="form-list">
                <span>*设备类型</span><select {% if device_form.errors.device_type %}class="input-error"{% endif %} name="device_type",placeholder=" ">
                    <option style="display: none;" disabled selected>请选择</option>
                    {% for device_type in devices_types %}
                        <option value="{{ device_type.device_type  }}">{{ device_type.device_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-list">
                <span>*资产编号</span><input {% if device_form.errors.device_id %}class="input-error"{% endif %} type="text" name="device_id" />
            </div>
            <div class="form-list">
                <span>*采购日期</span><input {% if device_form.errors.buy_time %}class="input-error"{% endif %} type="date" name="buy_time" />
            </div>
            <div class="form-list">
                <span>mac地址</span><input {% if device_form.errors.device_mac %}class="input-error"{% endif %} type="text" name="device_mac" />
            </div>

            <div class="form-list">
                <span>*是否root</span><select {% if device_form.errors.device_root %}class="input-error"{% endif %} name="device_root" >
                    <option style="display: none;" disabled selected>请选择</option>
                    <option value="0">否</option>
                    <option value="1">是</option>
            </select>
            </div>
            <div class="form-list">
                <span>*设备状态</span><select {% if device_form.errors.device_status %}class="input-error"{% endif %}  name="device_status" onchange="myFunction(this.value)">
                    <option style="display: none;" disabled selected>请选择</option>
                    <option value="0">空闲</option>
                    <option value="1">使用中</option>
                    <option value="-1">损坏</option>
                </select>
            </div>

             <div class="form-list" id="vis1">
                <span>使用人</span><input {% if device_form.errors.device_user %}class="input-error"{% endif %} name="device_user"/>
            </div>
            <div class="form-list" id="vis2">
                <span>预期结束使用</span><input {% if device_form.errors.expired_date %}class="input-error"{% endif %} type="date" name="expired_date" />
            </div>
            <div class="form-list">
                <span class="comment">备注</span><textarea class="textarea {% if device_form.errors.comment %}input-error{% endif %}" name="comment" ></textarea>
            </div>
            {% if msg %}
                <div class="error">{{ msg }}</div>
            {% endif %}
            <div style="clear:both"></div>
            <div class="form-list">
                <input class="form-button" type="submit"/>
            </div>
            <div class="form-list">
                 <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        function myFunction(val) {
        var x = val;
        var d1 = document.getElementById("vis1");
        var d2 = document.getElementById("vis2");
        if (x === '0'||x==='-1') {
            d1.style.visibility = "hidden"
            d2.style.visibility = "hidden"
        }else{
            d1.style.visibility = "visible"
            d2.style.visibility = "visible"
        }
    }
        function btn_cancel() {
            location.href = "{% url 'devices:device_list' %}";
        }
    </script>
{% endblock %}