{% extends 'base.html' %}
{% load static %}
{% block title %}设备管理 - 设备列表{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'devices/css/tooltip.css' %}">

{% endblock %}
{% block content %}
    <div class="content">
        <p>设备列表</p>
        <div class="form-class">
            <form action="" method="get">
                <input id="search" class="form-text" type="text" placeholder="输入关键字搜索..." name="search" value="{% if search %}{{ search }}{% endif %}"/>
                <button class="form-submit" type="submit">
                    <i class='fa fa-search' aria-hidden='true'></i>
                </button>
            </form>
        </div>
        {% if request.user.isadmin == '1' or request.user.is_superuser == 1 %}
            <button class="button-insert" id="btn_add">添加设备</button>
{#            <button class="button-insert" id="btn_export_list">导出列表</button>#}
            <text class="button-insert" id="btn_import_list">批量导入</text>
            <form method="post" action="{% url 'devices:device_import' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="excel"><input type="submit" value="确定">
            </form>
        {% endif %}
        <br/><br/>
        <p>共计{{ num }}条记录</p>
        <table class="table-list">
            <thead>
                <tr>
                    <th><div class="tooltip">序号  <span class="tooltiptext">Tooltip text</span></div></th>
                    <th>设备编号</th>
                    <th>设备类型</th>
                    <th>设备状态</th>
                    <th>使用人</th>
                    <th>预计结束使用时间</th>
                    <th>备注信息</th>
{#                    <th>操作</th>#}
                </tr>
            </thead>
            <tbody>
                {% for device in p_devices.object_list %}
                    <tr>
                        <td>{{ forloop.counter|add:start }}</td>
{#                        <td>{{ device.id }}</td>#}
                        {% if request.user.isadmin == '1'%}
                            <td><div class="tooltip"><a href="{% url 'devices:device_detail' device.id %}">{{ device.device_id }}</a>
                                <span class="tooltiptext">系统：{{ device.device_sys }}<br>内存：{{ device.device_men }}<br>Mac地址：{{ device.device_mac }}<br>
                                Root/越狱：{{ device.get_device_root_display }}<br>采购日期：{{ device.buy_time }}<br>cpu：{{ device.device_type.device_cpu }}<br>
                                    屏幕信息：{{ device.device_type.device_res }}
                                </span></div></td>
                        {% else %}
                           <td><div class="tooltip">{{ device.device_id }}
                                <span class="tooltiptext">系统：{{ device.device_sys }}<br>内存：{{ device.device_men }}<br>Mac地址：{{ device.device_mac }}<br>
                                Root/越狱：{{ device.get_device_root_display }}<br>采购日期：{{ device.buy_time }}<br>cpu：{{ device.device_type.device_cpu }}<br>
                                    屏幕信息：{{ device.device_type.device_res }}
                                </span></div></td>
                        {% endif %}
                        <td>{{ device.device_type }}</td>
                        <td>{{ device.get_device_status_display }}</td>
                        <td><div class="tooltip">{{ device.device_user | default_if_none:""}}<span class="tooltiptext">部门：{{ device.device_user.department }}<br>工位：{{ device.device_user.seat }}<br>
                            联系方式：{{ device.device_user.mobile }}<br>邮箱：{{ device.device_user.email }}<br></span></div></td>
                        <td>{{ device.expired_date | date:"Y-m-d" |default_if_none:""}}</td>
                        <td><div class="more-text">{{ device.comment }}</div></td>
{#                        <td></td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <ul class="pagination">
                {% if p_devices.has_previous %}
                    <li><a href="?{{ p_devices.previous_page_number.querystring }}">&laquo;</a></li>
                {% endif %}
                {% for page in p_devices.pages %}
                    {% if page %}
                        {% ifequal page p_devices.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_devices.has_next %}
                    <li><a href="?{{ p_devices.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block custome_js %}
    <script>
        var btn_server_add = document.getElementById("btn_add");
        btn_server_add.onclick = function () {
            location.href = "{% url 'devices:device_add' %}";
        };

    </script>
{% endblock %}
