{% extends 'base.html' %}
{% load static %}
{% block title %}设备类型{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'devices/css/device-list.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <p>设备类型列表</p>
        <div class="form-class">
            <form action="" method="get">
                <input id="search" class="form-text" type="text" placeholder="搜索..." name="search" value="{% if search %}{{ search }}{% endif %}"/>
                <button class="form-submit" type="submit">
                    <i class='fa fa-search' aria-hidden='true'></i>
                </button>
            </form>
        </div>
        <button class="button-insert" id="btn_add">添加类型</button>
        <br/><br/>

        <table class="table-list">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>设备类型</th>
                    <th>操作系统</th>
                    <th>cpu型号</th>
                    <th>屏幕</th>
                </tr>
            </thead>
            <tbody>
                {% for device in p_device_types.object_list %}
                    <tr>
                       <td>{{ forloop.counter|add:start }}</td>
                        <td>{{ device.device_type }}</td>
                        <td>{{ device.device_system }}</td>
                        <td>{{ device.device_cpu }}</td>
                        <td>{{ device.device_res }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
         <div class="page">
            <ul class="pagination">
                {% if p_device_types.has_previous %}
                    <li><a href="?{{ p_device_types.previous_page_number.querystring }}">&laquo;</a></li>
                {% endif %}
                {% for page in p_device_types.pages %}
                    {% if page %}
                        {% ifequal page p_device_types.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_device_types.has_next %}
                    <li><a href="?{{ p_device_types.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        var btn_server_add = document.getElementById("btn_add");
        btn_server_add.onclick = function () {
            location.href = "{% url 'devices:type_add' %}";
        };
    </script>
{% endblock %}