{% extends 'base.html' %}
{% load static %}
{% block title %}部门列表{% endblock %}
{% block custome_css %}
{% endblock %}
{% block content %}
    <div class="content">
        <p>部门列表</p>
        <div class="form-class">
            <form action="" method="get">
                <input id="search" class="form-text" type="text" placeholder="搜索..." name="search" value="{% if search %}{{ search }}{% endif %}"/>
                <button class="form-submit" type="submit">
                    <i class='fa fa-search' aria-hidden='true'></i>
                </button>
            </form>
        </div>
        <button class="button-insert" id="btn_add">添加部门</button>
        {# <button class="button-insert" id="btn_export_list">导出列表</button> #}
        <br/><br/>
        <p>共计{{ p_departments.object_list|length }}条记录</p>
        <table class="table-list">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>部门名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for department in p_departments.object_list %}
                    <tr>
                        <td>{{ forloop.counter|add:start }}</td>
                        <td><a href="{% url 'users:department_detail' department.id %}">{{ department.department_name }}</a></td>
                        <td><a href="{% url 'users:department_detail' department.id %}"><button>修改</button></a>
                            <button class="form-button-del"  onclick="btn_delete({{ department.id }})">删除</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <ul class="pagination">
                {% if p_departments.has_previous %}
                    <li><a href="?{{ p_departments.previous_page_number.querystring }}">&laquo;</a></li>
                {% endif %}
                {% for page in p_departments.pages %}
                    {% if page %}
                        {% ifequal page p_departments.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_departments.has_next %}
                    <li><a href="?{{ p_departments.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        var btn_person_add = document.getElementById("btn_add");
        btn_person_add.onclick = function () {
            location.href = "{% url 'users:department_add' %}";
        };


        function btn_delete(department) {
            var department_id = department;
            var url = "{% url 'users:department_delete' 0 %}";
            var conf = confirm("确定删掉该数据？");
            if (conf) {
                location.href = url.replace('0', department_id);
            }
        }
    </script>
{% endblock %}
